<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-6 offset-3">
        <div class="row align-items-center alert alert-danger" role="alert">
            <h3><a href="javascript:history.back()" class="float-end mb-2 nav-link-mobile">חזרה</a></h3>
            <h4 class="alert-heading"><%=err.message%></h4>
            <% if (process.env.NODE_ENV !== "production") { %>
            <p><%= err.stack %></p>
            <% } %>
        </div>
    </div>
</div>
<%- include('partials/navbar_mobile')%>
