<% layout('layouts/boilerplate')%>
    <div class="row align-items-center">
        <h3>מפה</h3>
        <div class="col-12 p-4">
            <div id="cluster-map"></div>
        </div>
        <div class="mt-5">
        <a href="javascript:history.back()" class="float-end">חזרה</a>
    </div>
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const campgrounds = { features: <%- JSON.stringify(campgrounds) %> }
    </script>

    <script src="/javascripts/clusterMapStreets.js"></script>