<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">הוספת קהילה</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">שם</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                <div class="mb-3">
                    <label class="form-label" for="contact-name">איש קשר</label>
                    <input class="form-control" type="text" id="contact-name" name="contact[name]">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label" for="phone">טלפון</label>
                    <input class="form-control" type="tel" id="phone" name="contact[phone]">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
        </div>
                <div class="mb-3">
                    <label class="form-label" for="location">מיקום</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <label class="form-label" for="coordinates"> קואורדינטות (אופציונלי)</label>
                <div class="row">
                    <div class="col"><input class="form-control" type="number" step="0.000001"
                            placeholder="e.g. 32.325882" inputmode="decimal" id="coordinates1" name="coordinatesN">
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="col"><input class="form-control" type="number" step="0.000001"
                            placeholder="e.g. 35.504490" inputmode="decimal" id="coordinates0" name="coordinatesE">
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>


                <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->


                <div class="mb-3">
                    <label class="form-label" for="description">תיאור</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3"><div>תמונות</div>
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" for="image">
                            <span class="form-file-text custom-file-label"></span>
                            <span class="form-file-button"></span>
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">הוספה</button>
                </div>
            </form>
            <a href="/campgrounds" class="float-end">חזרה</a>
        </div>
    </div>